@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;



.blog {
    padding-top: 60px;
    padding-bottom: 60px;

    &__title {
        margin-top: 60px;
    }

    &__title-h3 {
        text-align: left;
    }

    &__wrapper {
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }

    &__card {
        background: $light;
        border: 1px solid $dark;
        box-shadow: 5px 5px 10px 0px #00000040;
        box-sizing: border-box;
    }

    &__data {
        &-column {
            padding: 25px 25px 0 25px;
            display: flex;
            flex-direction: column;
            gap: 25px;
        }
    }

    &__text {
        margin-top: 25px;
        padding: 0 25px 25px 25px;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: normal;
        color: $dark;
    }


    &__img {
        display: block;
        width: calc(100% + 2px);
        height: auto;
        transform: translate(-1px, -1px);
        max-inline-size: none;
    }
}




@media screen and (min-width: 768px) {
    .blog {
        &__wrapper {
            padding: 25px 25px 0 25px;
            position: relative;
            @include angle-decoration;
        }

        &__text {
            margin-top: 15px;
        }

        &__data {
            &-column {
                gap: 0;
                justify-content: space-between;
            }
        }
    }
}



@media screen and (min-width: 1200px) {
    .blog {
        &__wrapper {
            flex-wrap: nowrap;
            align-items: flex-start;
        }
    }
}



@media screen and (min-width: 1920px) {
    .blog {
        &__wrapper {
            align-items: stretch;
        }

        &__card {
            width: 670px;
            height: 375px;
        }
    }
}